<link rel="stylesheet" href="/styles.css">
<div class="nav-container">
    <nav>
        <a class="logo" href="/">LexBlog</a>
        <ul class="nav-right">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blogs">Blogs</a>
            <a href="/create">Create</a>
        </ul>
        <button class="mobile-nav">menu</button>
    </nav>
</div>