<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Movlex | Home </title>
    <%- include ('./partials/nav.ejs')%>
</head>

<body>
    
    <main style="z-index: 1;" class="main-sec">
        <h1 class="blog-content-title">Select a Movie to Download</h1>
        <div class="input__box"><input type="text" id="myInput" onkeyup="men()" placeholder="Search for movie.."></div>
    <div class="blog-items" id="myUL">
        
        <blockquote id="li" class="items">
            
            
                <% if(blogs.length > 0) {%>
                    <% blogs.forEach(blog => { %>
                        <a href="/blogs/<%= blog.id %>" class="posts">
                        <h3><%= blog.title %> </h3>
                        <p style="width: 90%;" class="snipper-p"><%= blog.snippet %></p>
                        </a>
                    <% }) %>
                <% }else { %>
                    <p>There are no blogs to display</p>
                <% } %>
            
        </blockquote>
    </div>
    </main>
    <script>
        function men() {
          // Declare variables
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById('myInput');
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByTagName('a');
        
          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h3")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
        </script>
</body>
</html>
